@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    min-height: 100svh;
    background-color: var(--dark-screen-color);
    color: var(--dark-pen-color);
    transition: all 0.3s ease-in-out;

    --pen-color: theme(colors.neutral.900); /* For text, outlines */
    --screen-color: theme(colors.neutral.200); /* Background */
    --base-color: theme(colors.neutral.100); /* Opposite to pen */
    --accent-color: theme(colors.primary.700); /* Highlighted */
    --gray-color: theme(colors.primary.500); /* Grayed out */
    --shade-color: theme(colors.neutral.300); /* Shaded boxes */
    --faint-border-color: theme(colors.neutral.300); /* Catalogue divider */
    --not-selected-color: theme(colors.primary.500);
    /* Dark theme */
    --dark-pen-color: theme(colors.neutral.100);
    --dark-screen-color: theme(colors.neutral.800);
    --dark-base-color: theme(colors.neutral.900);
    --dark-accent-color: theme(colors.primary.200);
    --dark-gray-color: theme(colors.primary.500);
    --dark-shade-color: theme(colors.primary.900);
    --dark-faint-border-color: theme(colors.primary.800);
    --dark-not-selected-color: theme(colors.primary.600);
    /* Other themes below theme */
  }

  .h1, .h2, .h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
  }
  
  .h1 {
    font-weight: 900;
    font-size: theme('fontSize.5xl-base');
    @screen md {
      font-size: theme('fontSize.5xl-md');
    }
    @screen lg {
      font-size: theme('fontSize.5xl-lg');
    }
  }
  
  .h2 {
    font-weight: 700;
    /* font-size: var(--text-3xl); */
    font-size: theme('fontSize.3xl-base');
    @screen md {
      font-size: theme('fontSize.3xl-md');
    }
    @screen lg {
      font-size: theme('fontSize.3xl-lg');
    }
  };

  .h3 {
    font-weight: 700;
    font-size: theme('fontSize.2xl-base');
    @screen md {
      font-size: theme('fontSize.2xl-md');
    }
    @screen lg {
      font-size: theme('fontSize.2xl-lg');
    }
  }

  .h4 {
    font-weight: 700;
    font-size: theme('fontSize.xl-base');
    @screen md {
      font-size: theme('fontSize.xl-md');
    }
    @screen lg {
      font-size: theme('fontSize.xl-lg');
    }
  }
  
  p.subtitle {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 600;
    font-size: theme('fontSize.lg');
    @screen md {
      font-size: theme('fontSize.lg-md');
    }
    @screen lg {
      font-size: theme('fontSize.lg-lg');
    }
  }
  
  p b {
    font-weight: 700;
  }

  body::-webkit-scrollbar {
    background-color: var(--shade-color);
    width: 5px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border: 1.3px solid var(--shade-color);
    border-radius: 20px;
  }

  .prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    color: inherit !important;
  }
}

@layer components {

  .btn {
    @apply flex flex-row items-center gap-1 px-4 py-2 transition-all rounded-md cursor-pointer hover:brightness-105 hover:contrast-125; 
    &.primary {
      @apply bg-purple-900 text-white;
    }
    &.secondary {
      @apply text-white bg-slate-700;
    }
    &.white {
      @apply text-black bg-white;
    }
    &.black {
      @apply text-white bg-black;
    }
    &.danger {
      @apply bg-red-600 text-white;
    }
    &.general {
      @apply bg-white dark:bg-black text-black dark:text-white;
    }
    &.pill-outlined {
      @apply bg-transparent border-2 rounded-full;
    }
    &:disabled {
      @apply opacity-50 cursor-default;
    }
    &.small {
      @apply px-2 py-1;
    }
  }

  .filter-btn {
    --min-item-w: 8ch;
    @apply min-w-[--min-item-w] text-sm disabled:bg-black disabled:text-white bg-transparent hover:bg-black/25 transition-all px-2 py-1 rounded;
  }
  
  .my-toggle {
    --toggle-color: theme('colors.slate.800');
    .dark & {
      --toggle-color: theme('colors.slate.500');
    }

    @apply cursor-pointer px-0 appearance-none w-12 h-6 rounded-full border-[0.2rem] border-[--toggle-color] bg-inherit relative transition-all duration-300 ease-in-out;
  
    &:after {
      content: '';
      @apply w-3.5 h-3.5 rounded-full bg-[--toggle-color] absolute left-[0.15rem] top-[0.15rem] transform translate-x-0 transition-all duration-300 ease-in-out;
    }
  
    &:checked:after {
      @apply transform translate-x-6 bg-violet-800;
    }
  }

  .input-basic {
    &[type="text"], &[type="number"], &[type="url"], &[type="search"], &[type="date"], &:is(select, textarea), &.color-input {
      @apply p-[0.2rem] outline-none border-[1px] rounded-sm border-slate-900 bg-white dark:bg-black text-black dark:text-white shadow-none focus-basic-styling;
    }
    &:is(textarea) {
      @apply resize-none;
    }
    &:is(select) {
      @apply cursor-pointer;
    }
    &:is(span) {
      @apply font-mono font-bold tracking-wide;
    }
  }

}

@layer utilities {
  .focus-basic-styling {
    @apply transition-shadow focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-purple-900
  }
}