---
import Layout from '../layouts/Layout.astro';
import HeroCarousel from '@components/heroCarousel.svelte';
import { checkLoggedIn } from "@lib/auth";
import { type selectStatus as Status } from "@db/schema";

const data: { statuses: Array<Status>, count: number } = await fetch(Astro.url.origin + '/api/statuses.json?getCount=true').then(res => res.json());
const { statuses, count } = data;

const { isLoggedIn } = await checkLoggedIn(Astro.cookies);
---

<Layout title="Shayu's Site" fetchLatestStatus={false} theme={statuses[0].theme}>
	<main class="flex flex-col items-center justify-center page-height gap-1 border-y border-[--dark-faint-border-color]">
		<div class="mt-2">
			<HeroCarousel statuses={statuses} count={count} client:load />
		</div>
	</main>
</Layout>

<script>
</script>
