---
import Layout from '../layouts/Layout.astro';
import HeroCarousel from '@components/heroCarousel.svelte';

const statuses: any = await fetch(Astro.url + '/api/statuses.json').then(res => res.json());
---

<Layout title="My Homepage">
	<main class="flex flex-col items-center justify-center h-screen gap-1">
		<h1 class="h1 text-primary-100">
			Hey
		</h1>
		<div class="mt-2">
			<HeroCarousel statuses={statuses} client:load />
		</div>
	</main>
</Layout>

<script>
</script>

<style>
	main {
		background: linear-gradient(to bottom, var(--dark-base-color), transparent 45%);
	}
</style>
