---
import Layout from "@layouts/Layout.astro";
import PostViewer from "@components/post.svelte";
import { type selectPost } from "@db/schema";
const { slug } = Astro.params;

const post: selectPost = await fetch(Astro.url.origin + '/api/post/' + slug + '.json').then(res => res.json());
if (!post) return Astro.redirect('/404');
---

<Layout title={post.title}>
  <div class="p-4" style={"color: " + post.textColor + "; background-color: " + post.backgroundColor + ";"}>
    <PostViewer post={post} />
  </div>
</Layout>