---
import Layout from "@layouts/Layout.astro";
import PostViewer from "@components/post.svelte";
import { type selectPost } from "@db/schema";
const { slug } = Astro.params;

const post: selectPost = await fetch(Astro.url.origin + '/api/post/' + slug + '.json').then(res => res.json());
if (!post) return Astro.redirect('/404');

const theme = post.textColor || post.backgroundColor
  ? {
      color: post.textColor ?? undefined,
      background: post.backgroundColor ?? undefined,
      gray: null
    }
  : undefined;
---

<Layout title={post.title} theme={theme} fetchLatestStatus={false}>
  <div class="px-4 py-12 page-height w-[90%] md:w-[50%] mx-auto" style={"color: " + post.textColor + "; background-color: " + post.backgroundColor + ";"}>
    <PostViewer post={post} />
  </div>
</Layout>